<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <form action="" method="POST">
            
                First key: <br>
              <input type="text" name="key1"><br>
              Second key:<br>
              <input type="text" name="key2"><br>
                Plaintext to encrypt:<br>
                <input type="text" name="encrypt"><br>
                Ciphertext to decrypt:<br>
                <input type="text" name="decrypt"><br>
              <input type="submit" value="Submit">
        </form>

        <p>
            Encrypted string: {{encstr}}
        </p>
    
        <p>
            Decrypted string: {{decstr}}
        </p>  
    </body>
</html>